html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #1b4998 0%, #159ed9 100%);
    padding: 10px;
    height: 110px;
    z-index: 10;
}
header h1 {
    margin-left: 20px;
    font-size: 70px;
    color: #ccc;
    text-shadow: 5px 5px #000000;
}
#lp_logo{
    width: 115px;
    height: 115px;            
    filter: drop-shadow(0 0 10px rgb(255, 255, 255)) drop-shadow(0 0 20px rgb(255, 255, 255));
}
.name-id{
    line-height: 0;
    margin-right: 40px;
    margin-bottom: 10px;
}
#name{
    font-size: 30px;
    font-weight: bold;
}
#sid{
    font-style: italic;
}
.logout {
    background-color: #fb3838;
    color: #f4f4f4;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: .4s;
    font-size: 15px;
}
.logout:hover{
    border: none;
    background-color: #d80505 ;
    transition: .5s;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 13px 0;
    justify-content: center;
    background-color: #fff7f7;
    
    
}
.bt{
    background: none;
    border: none;
    margin-top: 120px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 150%;
    padding: 0 15px;
    border-radius: 2px;
    border-right: 2px solid #000000;
    transition: .5s;
    color: #616060;
    
}
.bt:hover{
    color: #000000 ;
    border-radius: 2px;
    transition: .6s;
}
nav ul li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 20px; 
}

main {
    display: flex;
    flex: 1;
    padding: 20px 0;
}

.do-chart {
    width: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 5rem;
    
}

.slideshow-container {
    flex-grow: 1;
    max-width: 600px;
    height: 400px;
    margin-right: 20px; 
    border: none;
    overflow: hidden;
    position: relative;
    border: 3px solid #000000;
    
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  
 
.mySlides img {
    width: 100%;
    border: 2px solid #ccc;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 200px; 
}


.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.stat img {
    display: block;
    max-width: 100%;
}
.stat span {
    display: block;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
#stat-bk{
    margin-right: 50px;
    margin-top: 30px;
}
#stat-users{
    margin-right: 83px;
}
#bk{
    width: 200px;
    height: 100px;
}
#users{
    width: 150px;
    height: 100px;
}
.stat img {
    margin-right: 10px;
}



footer {
    display: flex;
    background: linear-gradient(to right, #1b4998 0%, #159ed9 100%);
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    color: #f4f4f4;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }
    header h1 {
        font-size: 40px;
        margin: 0;
    }
    #lp_logo {
        width: 80px;
        height: 80px;
        
    }
    .name-id {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
    .name-id p {
        font-size: 18px;
        line-height: 1; 
        margin: 5px 0;    
    }
    .logout {
        font-size: 12px;
        padding: 5px 10px;
    }

    nav ul {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 130px;
    }
    nav ul li {
        margin: 5px 0;
        padding: 5px 4px;
        font-size: 13px;
    }
    .bt {
        margin-top: 10px;
        font-size: 120%;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .do-chart {
        width: 90%;
        margin: auto;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0;
    }

    .slideshow-container {
        width: 90%;
        height: auto;
        margin: 20px 0;
        
    }

    .stats {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }

    .stat {
        margin-bottom: 0;
    }

    #stat-bk, #stat-users {
        margin-right: 0;
        margin-top: 10px;
    }
    #bk, #users {
        width: auto;
        height: 80px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 20px;
    }
    footer p {
        margin: 5px 0;
    }
}
